@model List<MVC.Models.Photo>
@{
    ViewBag.Title = "Gallery";
}

<h2>@ViewBag.Title</h2>

@foreach (var photo in Model)
{
    <img src="/Images/@photo.PhotoName"/>
    <div>
        @Html.ActionLink("Show Picture", "Showimage", "Gallery", new {id=photo.Id},null)
    </div>
}


